<!DOCTYPE html>
<html>
<!--from https://codepen.io/frytyler/pen/EGdtg-->

<head>
	<meta charset="UTF-8">
	<title>ML API</title>
	<link rel="stylesheet" href="static/style.css">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>

	<div class="login">
		<h1>MOVIE SUCCESS PREDICTION</h1>

		<!-- Main Input For Receiving Query to our ML -->
		<form action="{{ url_for('predict')}}" method="post">

			<div>
				<input type="text" name="run_time" placeholder="Duration(minutes)" required="required" />
			</div>

			<div>
				<input type="text" name="votes" placeholder="Votes" required="required" />
			</div>
			<div>
				<input type="text" name="money" placeholder="Revenue(millions)" required="required" />
			</div>
			<div>
				<input type="text" name="score" placeholder="Meta-Score" required="required" />
			</div>
			<br><br>
			<div class="dd">
				<label>Action</label>
				<input type="checkbox" name="Action" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Action" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Adventure</label>
				<input type="checkbox" name="Adventure" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Adventure" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Aniimation</label>
				<input type="checkbox" name="Aniimation" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Aniimation" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Biography</label>
				<input type="checkbox" name="Biography" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Biography" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br>

			</div><br><br>

			<div class="dd">
				<label>Comedy</label>
				<input type="checkbox" name="Comedy" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Comedy" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Crime</label>
				<input type="checkbox" name="Crime" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Crime" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Drama</label>
				<input type="checkbox" name="Drama" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Drama" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Family</label>
				<input type="checkbox" name="Family" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Family" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br>

			</div><br><br>

			<div class="dd">
				<label>Fantasy</label>
				<input type="checkbox" name="Fantasy" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Fantasy" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>History</label>
				<input type="checkbox" name="History" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="History" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Horror</label>
				<input type="checkbox" name="Horror" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Horror" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Music</label>
				<input type="checkbox" name="Music" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Music" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br>

			</div><br><br>

			<div class="dd">
				<label>Musical</label>
				<input type="checkbox" name="Musical" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Musical" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Mystery</label>
				<input type="checkbox" name="Mystery" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Mystery" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Romance</label>
				<input type="checkbox" name="Romance" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Romance" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Sci-Fi</label>
				<input type="checkbox" name="Sci-Fi" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Sci-Fi" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>


			</div><br><br><br>
			<!-- <div class="wave2">

			</div> -->

			<div class="dd">
				<label>Sport</label>
				<input type="checkbox" name="Sport" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Sport" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>Thriller</label>
				<input type="checkbox" name="Thriller" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="Thriller" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>
				<br><br><br>

				<label>War</label>
				<input type="checkbox" name="War" value=1 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">YES</label>
				<input type="checkbox" name="War" value=0 class="form-control-material" tabindex="3" />
				<label for="Sub_metering_1">NO</label>


			</div><br><br>

			<div>
				<input type="email" name="emailId" placeholder="Your email ID" required="required" />
			</div>

			<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
		</form>

		<br>
		<br>
		<div class="foot">
			{{ prediction_text }}
		</div>


	</div>


</body>

</html>